.appPanel {
    display: flex;
    height: 85vh;
    margin-top: 5%;
}

.leftPanel {
    overflow-y: scroll;
}

.rightPanel {
    flex-grow: 1;
}

#chatControls {
    height: 15vh;
}
#messageList {
    height: 70vh;
    overflow-y: scroll;
}
